#auth {
    display: flex;
    height: 100vh;

    aside{
        flex: 7;
        
        background: black;
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 120px, 80px;
    }
    main {
        flex:5;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        padding: 0px 32px;

        strong{
           
            margin-top: 20px;
            font-size: 32px;
        }
        #autenticacao {
            align-items: center;
        }
        .dados{
            margin:10px;
        }
    }
}