.background{
    position: relative;
    display: flex;
    background-size: cover;
    position: fixed;
    
}

#auth {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;


    aside{
        flex: 7;

        
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        position: relative;
        padding: 120px, 80px;

        strong{
            margin-top: 120px;
            font-size: 50px;

        }
    }
    main {
        flex:5;
        background: rgba(17, 17, 17, 0.8);

        
        display: flex;
        align-items: center;
        flex-direction: column;
        

        padding: 200px 32px;

        strong{

            color: white;  
            font-size: 40px;
            align-items: center;

            
        }
        #autenticacao {
            padding-top: 100px;
            margin-top: 50px;
            align-items: center;
         
            
        }
        .dados{
            border-radius: 10px;
            border: 1px solid black;
            background-color: gray;
            color: #FFFFFF;
            height: 45px;
            width: 450px;
            padding: 10px;
            margin:15px;
            border: solid gray 2px;

            font-size: 17px;

            -webkit-box-shadow: inset 1px 1px 20px 0 #000000;
            -moz-box-shadow: inset 1px 1px 20px 0 #000000;
            box-shadow: inset 1px 1px 20px 0 #000000;
            text-shadow: 1px 1px 20px #000000;
        }
        .buttonSubmit{
            text-align:  center;

        }
        .buttonAuth {
            background: gray;
            background-image: -webkit-linear-gradient(top, gray, #14243E);
            background-image: -moz-linear-gradient(top, gray, #14243E);
            background-image: -ms-linear-gradient(top, gray, #14243E);
            background-image: -o-linear-gradient(top, gray, #14243E);
            background-image: -webkit-gradient(to bottom, gray, #14243E);

            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;

            color: #FFFFFF;
            font-family: Arial;
            font-size: 17px;
            padding: 10px;
            width: 150px;
            margin-top: 50px;
            
            -webkit-box-shadow: inset 1px 1px 20px 0 #000000;
            -moz-box-shadow: inset 1px 1px 20px 0 #000000;
            box-shadow: inset 1px 1px 20px 0 #000000;
            text-shadow: 1px 1px 20px #000000;
            border: solid gray 1px;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            text-align: center;
         }
         
         .buttonAuth:hover {
            border: solid #337FED 1px;
            background: #1E62D0;
            background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
            background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
            background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
            background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
            background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            text-decoration: none;
         }
    }
}